.new-transactions-page {
    padding: 24px;
    max-width: 500px;
    margin: 0 auto;
}

.page-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.transaction-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

input, select, textarea {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 12px;
}

.input-container{
    position: relative;   
    width: 100%;
    margin-top: 20px;
}


.input-field, .input-text-field {
    font-family: 'Poppins';
    width: 100%;
    height: 50px;
    border: #d7dfe9 solid 2px;
    border-radius: 12px;
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    transition: border 0.2s ease;
    background-color: #fff;
}


.input-text-field{
    min-height: 100px;
    min-width: 100%;
}

.input-field:focus, .input-text-field:focus {
    border-color: #5070d2;
}

.input-label{
    font-family: 'Poppins';
    font-weight: 500;
    position: absolute;
    top: 12px;
    left: 16px;
    color: #6b7280;
    transition: 0.25s ease;
    cursor: pointer;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label,
.input-text-field:focus + .input-label,
.input-text-field:not(:placeholder-shown) + .input-label {
    top: -12px;
    left: 12px;
    padding: 0 6px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
}

.type-category-container, .amount-date-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}