.nav-header {
    display: flex;
    justify-content: center;
    border-bottom: #dfffd0 solid 1px;
    background-image: linear-gradient(90deg, #dfffd0 0%,#FFFFFF 60%);
}

@media screen and (max-width: 767px) {
    .nav-header {
        flex-direction: column;
        align-items: center;
        border-bottom-style: none;
    }
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1110px;
    padding-top: 25px;
    padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
    .nav-content {
        flex-direction: column;
    }
}

.nav-bar-mobile-logo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .nav-bar-mobile-logo-container {
        display: none;
    }
}

.nav-bar-large-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
     max-width: 1110px;
}

@media screen and (max-width: 767px) {
    .nav-bar-large-container {
        display: none;
    }
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    flex: 1;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
    .nav-menu {
        display: none;
    }
}
.nav-menu-mobile {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .nav-menu-mobile {
        display: none;
    }
}

.nav-menu-list-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #dfffd0;
    flex: 1;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.nav-menu-item {
    font-family: 'Poppins';
    margin: 10px;
    font-weight: 400;
    font-size: 20px;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #475569;
}

.nav-menu-item-mobile {
    margin: 0px;
    cursor: pointer;
}

.logout-desktop-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins';
    font-size: 20px;
    padding: 5px 15px;
    border: none;
    border-radius: 25px;
    background-color: #5070d2;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
}

@media screen and (max-width: 767px) {
    .logout-desktop-btn {
        display: none;
    }
}

.nav-mobile-btn {
    border: none;
    padding: 0px;
    background: transparent;
    cursor: pointer;
    outline: none;
}

@media screen and (min-width: 768px) {
    .nav-mobile-btn {
        display: none;
    }
}

.nav-bar-img {
    width: 30px;
    height: 30px;
}